[submodule "exploit/veil"]
	path = exploit/veil
	url = https://github.com/Veil-Framework/Veil.git
[submodule "MSFstuff/MSFResourceScripts"]
	path = MSFstuff/MSFResourceScripts
	url = https://github.com/ChrisTruncer/MSFResource-Scripts.git
[submodule "exploit/MiscScripts1"]
	path = exploit/MiscScripts1
	url = https://github.com/ChrisTruncer/PenTestScripts.git
[submodule "docs/h5sc"]
	path = docs/h5sc
	url = https://github.com/cure53/H5SC.git
[submodule "misc/blackthorne"]
	path = misc/blackthorne
	url = https://github.com/blackthorne/Pentest-utils.git
[submodule "web/sql/NoSQLMap"]
	path = web/sql/NoSQLMap
	url = https://github.com/tcstool/NoSQLMap.git
[submodule "web/scan/nikto"]
	path = web/scan/nikto
	url = https://github.com/sullo/nikto.git
[submodule "web/scan/halberd"]
	path = web/scan/halberd
	url = https://github.com/jmbr/halberd.git
[submodule "enum/dns/dnsrecon"]
	path = enum/dns/dnsrecon
	url = https://github.com/darkoperator/dnsrecon.git
[submodule "web/scan/SSLyze"]
	path = web/scan/SSLyze
	url = https://github.com/iSECPartners/sslyze.git
[submodule "web/sql/BBQsql"]
	path = web/sql/BBQsql
	url = https://github.com/Neohapsis/bbqsql.git
[submodule "exploit/SET"]
	path = exploit/SET
	url = https://github.com/trustedsec/social-engineer-toolkit.git
[submodule "exploit/PowerSploit"]
	path = exploit/PowerSploit
	url = https://github.com/mattifestation/PowerSploit.git
[submodule "web/shell/Weevely"]
	path = web/shell/Weevely
	url = https://github.com/epinna/Weevely.git
[submodule "web/scan/WPscan"]
	path = web/scan/WPscan
	url = https://github.com/wpscanteam/wpscan.git
[submodule "web/BlackSheep"]
	path = web/BlackSheep
	url = https://github.com/neuroo/blacksheep.git
[submodule "web/scan/grabber"]
	path = web/scan/grabber
	url = https://github.com/neuroo/grabber.git
[submodule "web/sql/sqlmap"]
	path = web/sql/sqlmap
	url = https://github.com/sqlmapproject/sqlmap.git
[submodule "web/scan/wweb"]
	path = web/scan/wweb
	url = https://github.com/urbanadventurer/WhatWeb.git
[submodule "web/scan/wp-fingerprint"]
	path = web/scan/wp-fingerprint
	url = https://github.com/ancat/wp-fingerprint.git
[submodule "web/burpextensions"]
	path = web/burpextensions
	url = https://github.com/Meatballs1/burp-extensions.git
[submodule "web/sql/SQLbrute"]
	path = web/sql/SQLbrute
	url = https://github.com/GDSSecurity/SQLBrute.git
[submodule "web/scan/SPscan"]
	path = web/scan/SPscan
	url = https://github.com/toddsiegel/spscan.git
[submodule "exploit/msfscripts"]
	path = exploit/msfscripts
	url = https://github.com/ChrisTruncer/MSFResource-Scripts.git
[submodule "enum/ptscripts"]
	path = enum/ptscripts
	url = https://github.com/ChrisTruncer/PenTestScripts.git
[submodule "exploit/CortanaScripts"]
	path = exploit/CortanaScripts
	url = https://github.com/ChrisTruncer/CortanaScripts.git
[submodule "scan/nmapSLtools"]
	path = scan/nmapSLtools
	url = https://github.com/SpiderLabs/Nmap-Tools.git
[submodule "misc/webappdefaultsdb"]
	path = misc/webappdefaultsdb
	url = https://github.com/pwnwiki/webappdefaultsdb.git
[submodule "MSFstuff/metassh"]
	path = MSFstuff/metassh
	url = https://github.com/dirtyfilthy/metassh.git
[submodule "MSFstuff/MSF"]
	path = MSFstuff/MSF
	url = https://github.com/rapid7/metasploit-framework.git
[submodule "misc/vFeed"]
	path = misc/vFeed
	url = https://github.com/toolswatch/vFeed.git
[submodule "exploit/mobixPE"]
	path = exploit/mobixPE
	url = https://github.com/mubix/post-exploitation.git
