[submodule "exploit/veil"]
	path = exploit/veil
	url = https://github.com/Veil-Framework/Veil.git
[submodule "MSFstuff/MSFResourceScripts"]
	path = MSFstuff/MSFResourceScripts
	url = https://github.com/ChrisTruncer/MSFResource-Scripts.git
[submodule "exploit/MiscScripts1"]
	path = exploit/MiscScripts1
	url = https://github.com/ChrisTruncer/PenTestScripts.git
[submodule "docs/h5sc"]
	path = docs/h5sc
	url = https://github.com/cure53/H5SC.git
